<script src="../components/sidebar/sidebar.component.ts"></script>
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Product List</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Product Id
                                  </th>
                                  <th>
                                      Title
                                  </th>
                                  <th>
                                      Carton price
                                  </th>
                                  <th>
                                      Units per carton
                                  </th>
                              </thead>

                              <tbody>
                                  <tr *ngFor="let item of products">
                                      <td>
                                          {{item.id}}
                                      </td>
                                      <td>
                                          {{item.title}}
                                      </td>
                                      <td>
                                          {{item.cartonPrice}}
                                      </td>
                                      <td>
                                          {{item.unitsPerCarton}}
                                      </td>
                                  </tr>

                              </tbody>
                          </table>

                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Price Summary</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                              <th>
                                  Units
                              </th>
                              <th *ngFor="let item of productPriceMap">
                                  {{item.productTitle}}
                              </th>
                              </thead>
                              <tbody>
                              <tr *ngFor='let in of counter(50);let i = index'>
                                  <td>
                                     {{i + 1}}
                                  </td>
                                  <td *ngFor="let item of productPriceMap">
                                      {{item.priceMap[i+1]}}
                                  </td>
                              </tr>

                              </tbody>
                          </table>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
