<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Price Calculator</h4>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <mat-label>Select Product</mat-label>
                                      <mat-select  name="Products" [(ngModel)]="selectedProduct">
                                          <mat-option *ngFor="let item of products"  value="{{item.id}}">{{item.title}}</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input min="0" name="carton" required matInput placeholder="Quantity of carton" type="number"  [(ngModel)]="cartonQuantity">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input min="0" name="units" required matInput placeholder="Quantity of units" type="number" [(ngModel)]="unitsQuantity">
                                  </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button (click)="submit()" disabled="{{buttonDisabled}}" class="btn btn-danger pull-right">Submit</button>
                          <div class="clearfix"></div>
                      </form>



                      <mat-divider></mat-divider>
                      <div class="row">
                          <div class="col-md-4"></div>

                          <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                  <input name="price"  matInput readonly value="0" placeholder="Total Price" type="number" [(ngModel)]="totalPrice">
                              </mat-form-field>
                          </div>

                          <div class="col-md-4"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
